dataset/wider_face/*
src/__pycache__/__init__.cpython-310.pyc
src/core/__pycache__/__init__.cpython-310.pyc
src/core/__pycache__/_config.cpython-310.pyc
src/core/__pycache__/workspace.cpython-310.pyc
src/core/__pycache__/yaml_config.cpython-310.pyc
src/core/__pycache__/yaml_utils.cpython-310.pyc
src/data/face_landmark_collate.py
src/data/__pycache__/__init__.cpython-310.pyc
src/data/__pycache__/_misc.cpython-310.pyc
src/data/__pycache__/dataloader.cpython-310.pyc
src/data/dataset/__init__.py
src/data/dataset/test_dataset_loader.py
src/data/dataset/wider_face_dataset.py
src/data/dataset/__pycache__/__init__.cpython-310.pyc
src/data/dataset/__pycache__/_dataset.cpython-310.pyc
src/data/dataset/__pycache__/cifar_dataset.cpython-310.pyc
src/data/dataset/__pycache__/coco_dataset.cpython-310.pyc
src/data/dataset/__pycache__/coco_eval.cpython-310.pyc
src/data/dataset/__pycache__/coco_utils.cpython-310.pyc
src/data/dataset/__pycache__/voc_detection.cpython-310.pyc
src/data/dataset/__pycache__/voc_eval.cpython-310.pyc
src/data/dataset/__pycache__/wider_face_dataset.cpython-310.pyc
src/data/transforms/__pycache__/__init__.cpython-310.pyc
src/data/transforms/__pycache__/_transforms.cpython-310.pyc
src/data/transforms/__pycache__/container.cpython-310.pyc
src/data/transforms/__pycache__/mosaic.cpython-310.pyc
src/misc/__pycache__/__init__.cpython-310.pyc
src/misc/__pycache__/box_ops.cpython-310.pyc
src/misc/__pycache__/dist_utils.cpython-310.pyc
src/misc/__pycache__/logger.cpython-310.pyc
src/misc/__pycache__/profiler_utils.cpython-310.pyc
src/misc/__pycache__/visualizer.cpython-310.pyc
src/nn/__pycache__/__init__.cpython-310.pyc
src/nn/arch/__pycache__/__init__.cpython-310.pyc
src/nn/arch/__pycache__/classification.cpython-310.pyc
src/nn/arch/__pycache__/yolo.cpython-310.pyc
src/nn/backbone/__pycache__/__init__.cpython-310.pyc
src/nn/backbone/__pycache__/common.cpython-310.pyc
src/nn/backbone/__pycache__/csp_darknet.cpython-310.pyc
src/nn/backbone/__pycache__/csp_resnet.cpython-310.pyc
src/nn/backbone/__pycache__/hgnetv2.cpython-310.pyc
src/nn/backbone/__pycache__/presnet.cpython-310.pyc
src/nn/backbone/__pycache__/test_resnet.cpython-310.pyc
src/nn/backbone/__pycache__/timm_model.cpython-310.pyc
src/nn/backbone/__pycache__/torchvision_model.cpython-310.pyc
src/nn/backbone/__pycache__/utils.cpython-310.pyc
src/nn/criterion/__pycache__/__init__.cpython-310.pyc
src/nn/criterion/__pycache__/det_criterion.cpython-310.pyc
src/nn/postprocessor/__pycache__/__init__.cpython-310.pyc
src/nn/postprocessor/__pycache__/nms_postprocessor.cpython-310.pyc
src/optim/__pycache__/__init__.cpython-310.pyc
src/optim/__pycache__/amp.cpython-310.pyc
src/optim/__pycache__/ema.cpython-310.pyc
src/optim/__pycache__/optim.cpython-310.pyc
src/optim/__pycache__/warmup.cpython-310.pyc
src/zoo/__pycache__/__init__.cpython-310.pyc
src/zoo/rtdetr/__pycache__/__init__.cpython-310.pyc
src/zoo/rtdetr/__pycache__/box_ops.cpython-310.pyc
src/zoo/rtdetr/__pycache__/denoising.cpython-310.pyc
src/zoo/rtdetr/__pycache__/hybrid_encoder.cpython-310.pyc
src/zoo/rtdetr/__pycache__/matcher.cpython-310.pyc
src/zoo/rtdetr/__pycache__/rtdetr_criterion.cpython-310.pyc
src/zoo/rtdetr/__pycache__/rtdetr_decoder.cpython-310.pyc
src/zoo/rtdetr/__pycache__/rtdetr_postprocessor.cpython-310.pyc
src/zoo/rtdetr/__pycache__/rtdetr.cpython-310.pyc
src/zoo/rtdetr/__pycache__/rtdetrv2_criterion.cpython-310.pyc
src/zoo/rtdetr/__pycache__/rtdetrv2_decoder.cpython-310.pyc
src/zoo/rtdetr/__pycache__/utils.cpython-310.pyc
output/polar_face_wider_train/summary/events.out.tfevents.1749632809.9051e2da5b42.7975.1
output/polar_face_wider_train/summary/events.out.tfevents.1749633040.9051e2da5b42.11828.1
output/polar_face_wider_train/summary/events.out.tfevents.1749633234.9051e2da5b42.15002.1
output/polar_face_wider_train/summary/events.out.tfevents.1749633431.9051e2da5b42.17990.1
output/polar_face_wider_train/summary/events.out.tfevents.1749633522.9051e2da5b42.19405.1
output/polar_face_wider_train/summary/events.out.tfevents.1749633637.9051e2da5b42.21439.1
output/polar_face_wider_train/summary/events.out.tfevents.1749633811.9051e2da5b42.24351.1
output/polar_face_wider_train/summary/events.out.tfevents.1749633942.9051e2da5b42.26513.1
output/polar_face_wider_train/summary/events.out.tfevents.1749634041.9051e2da5b42.28116.1
output/polar_face_wider_train/summary/events.out.tfevents.1749646019.9051e2da5b42.68770.1
output/polar_face_wider_train/summary/events.out.tfevents.1749646179.9051e2da5b42.71527.1
output/polar_face_wider_train/summary/events.out.tfevents.1749646388.9051e2da5b42.74894.1
output/polar_face_wider_train/summary/events.out.tfevents.1749646622.9051e2da5b42.78596.1
output/polar_face_wider_train/summary/events.out.tfevents.1749646747.9051e2da5b42.80622.1
output/polar_face_wider_train/summary/events.out.tfevents.1749646959.9051e2da5b42.84205.1
output/polar_face_wider_train/summary/events.out.tfevents.1749647401.9051e2da5b42.90452.1
output/polar_face_wider_train/summary/events.out.tfevents.1749647648.9051e2da5b42.93902.1
output/polar_face_wider_train/summary/events.out.tfevents.1749651014.9051e2da5b42.34369.1
output/polar_face_wider_train/summary/events.out.tfevents.1749651056.9051e2da5b42.35192.1
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749632808.9051e2da5b42.7975.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749633039.9051e2da5b42.11828.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749633234.9051e2da5b42.15002.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749633430.9051e2da5b42.17990.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749633521.9051e2da5b42.19405.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749633636.9051e2da5b42.21439.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749633811.9051e2da5b42.24351.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749633942.9051e2da5b42.26513.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749634040.9051e2da5b42.28116.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749646018.9051e2da5b42.68770.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749646179.9051e2da5b42.71527.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749646387.9051e2da5b42.74894.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749646622.9051e2da5b42.78596.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749646746.9051e2da5b42.80622.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749646959.9051e2da5b42.84205.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749647401.9051e2da5b42.90452.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749647647.9051e2da5b42.93902.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749651013.9051e2da5b42.34369.0
output/polar_face_wider_train/tensorboard/events.out.tfevents.1749651056.9051e2da5b42.35192.0
